@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
*{
	margin: 0 0;
	padding: 0 0;
	font-family: 'Roboto Slab', serif;
}
body{
	background: #16a085;
}
h1{
	font-size: 40px;
	font-weight: normal;
}
#wrapper{
	width: 30%;
	height:400px;
	margin:20px auto;	
}
#wrapper h1{
	text-align: center;
	color: #fff;
}
#menu{
	position:relative;
	left:50%;
	margin:200px 0 0 -30px;

}
